@model List<FirstLine.CodeChallenge.Models.ExerciseLinkModel>

@{
ViewData["Title"] = "Code Challenges";
}

<div class="text-center">
    <h1 class="display-4">Code Challenges</h1>
    <p>Select a challenge to view its implementation.</p>
</div>

<div class="list-group">
    @foreach (var exercise in Model)
    {
    <a asp-controller="@exercise.Controller" asp-action="@exercise.Action" class="list-group-item list-group-item-action">
        <h5 class="mb-1">@exercise.Title</h5>
        <p class="mb-1">@exercise.Description</p>
    </a>
    }
</div>